<thead>
<tr>
  {{table-th name="Dimension" currentSort=sortBy sortBy="default" sortData=(action "sortData")}}
  {{table-th name="Boards" currentSort=sortBy sortBy="boards" sortData=(action "sortData")}}
  {{table-th name="BoardFeet" currentSort=sortBy sortBy="boardFeet" sortData=(action "sortData")}}
  {{#table-th}}{{fa-icon "cogs"}}{{/table-th}}
</tr>
</thead>
<tbody>
<tr>
  <td>All Dimensions</td>
  <td>{{totalBoards}}</td>
  <td>{{format-number totalBoardFeet precision=2}}</td>
</tr>
{{#each sortedModel as |row|}}
  <tr class="{{row-class row}}">
    <td>
      {{#link-to "production.dimension" row.DimensionID}}
        {{row.DimensionName}}
      {{/link-to}}
    </td>
    <td class="quantity">{{row.boards}}</td>
    <td class="quantity">{{format-number row.boardFeet precision=2}}</td>
    <td>
      {{#link-to "production.dimension" row.DimensionID}}
        {{fa-icon 'search'}}
      {{/link-to}}
    </td>
  </tr>
{{/each}}
</tbody>